.news__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  a:hover {
    opacity: 1;
  }

  .news__item {
    background: $colorLight;
    border-radius: 8px;
    height: 180px;
    overflow: hidden;
    transition: all 400ms ease-in-out;

    &:hover {
      background: #444;

      .news__item__content {
        color: $colorLight;
      }

      .subscript {
        color: $colorLight;
      }

      img {
        transform: scale(1.2);
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;

      p {
        margin: 0;
      }

      .description {
        font-size: $font-sm;
        margin-bottom: 0.8rem;
      }
    }
  }
}

.categories {
  &__item {
    &__content {
      gap: 1rem;
    }
    &__header {
      height: 50px;
      background: $colorDark;
      color: $colorLight;
      width: 100%;

      h3 {
        font-size: $font-lg;
        height: 100%;
        padding: 1rem;
      }
    }
  }
}

.img--container {
  overflow: hidden;
  height: 100%;

  @include breakpoint-down(tab) {
    height: 250px;
  }

  @include breakpoint-down(tab) {
    height: 200px;
  }

  img {
    height: 100%;
    transition: all 300ms ease-in-out;
  }
}

.img--container--1 {
  height: 180px;
}
